* {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-family: "Roboto", serif;
    color: black;
}

body {
    max-width: 1440px;
    margin: auto;
    height: 3840px;
    background-color: #f1f1f1;
}